@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.visitanos {
    background-image: url('../../../public/fondo-2.png');
}

.titulo {
    text-align: center;
    font-size: 70px;
    font-family: 'Merriweather', serif;
    padding-top: 70px;
}

.contacto-container {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    text-align: center;
    padding-bottom: 80px;
}

.contacto-container h3 {
    margin-top: 20px;
    color: #0f2f24;
}

.contacto-container p {
    margin-top: 15px;
    font-weight: 500;
}

.contacto h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.contacto p {
    font-family: 'Lato', sans-serif;
}

@media (max-width: 500px) {
    .contacto-container {
        width: 80%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, fr);
        gap: 25px;
        margin: 50px auto;
    }
}