.seccion-detail {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.detalle-productos {
    text-align: center;
    margin-top: 30px;
}

.boton-finalizar-compra {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 5px 10px;
}

.boton-finalizar-compra:hover {
    color: #ffff;
    background-color: #288328;
    border-color: #288328;
}