.seccion-detail {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.detalle-productos {
    text-align: center;
    margin-top: 50px;
}

.boton-ir-carrito {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 5px 25px;
    font-weight: 500;
}

.boton-ir-carrito:hover {
    color: #ffff;
    background-color: #0f2f24;
    border-color: #0f2f24;
}

@media (max-width: 500px) {
    .seccion-detail {
        gap: 0;
    }

    .img-container {
        margin-top: 30px;
    }

    .detalle-productos {
        width: 85%;
        margin: 0 auto;
    }

    .detalle-productos h1 {
        margin-bottom: 20px;
    }

    .detalle-productos h2 {
        margin-bottom: 20px;
    }
}