.t-carrito {
    text-align: center;
    margin: 20px 0;
}

.carrito-container {
    margin: 20px;
}

.prod-carrito {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    height: 80px;
    margin-bottom: 40px;
    border: 2px solid #000;
    text-align: center;
    align-items: center;
    font-size: 19px;
    font-weight: 600;
}

.boton-eliminar-item {
    border: 1px solid #ae1c1c;
    background-color: #ae1c1c;
    color: #fff;
    padding: 0;
    width: 35px;
    margin: 0 auto;
}

.precio-total {
    font-size: 20px;
    margin-right: 100px;
    border-bottom: 2px solid #000;
    padding-bottom: 3px;
    font-weight: 600;
}

.boton-eliminar-todo {
    color: #fff;
    background-color: #ae1c1c;
    border: none;
    padding: 5px 25px;
}

.carrito-vacio {
    text-align: center;
    margin: 100px 0;
}

.ir-catalogo {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 10px 30px;
}

.ir-catalogo:hover {
    color: #fff;
    background-color: #288328;
}