@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:wght@900&display=swap');

.card-producto {
    width: 300px;
    padding: 0 0 30px 0;
    margin: 20px;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    background: #dddddd;
    box-shadow:  12px 12px 24px #8e8e8e,
                -12px -12px 24px #ffffff;
}

.card-producto img {
    width: 100%;
}

.card-producto h1 {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.card-producto p {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.boton-detalle {
    text-decoration: none;
    padding: 10px 30px;
    background-color: #0f2f24;
    color: #ffff;
    font-size: 15px;
    border-radius: 3px;
    font-family: 'Lato', sans-serif;
}

.boton-detalle:hover {
    background-color: #194d3a;
    color: #ffff;
}