.card-producto {
    width: 250px;
    padding: 30px;
    margin: 30px;
    background-color: rgb(204, 209, 131);
    border: 5px solid rgb(135, 139, 73);
    text-align: center;
    font-size: 20px;
}

.boton-detalle {
    text-decoration: none;
    padding: 7px 15px;
    background-color: #7a2424;
    color: #ffff;
    font-size: 15px;
    border-radius: 25px;
}

.boton-detalle:hover {
    color: #ffff;
}