@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:wght@900&display=swap');

.inicio-container {
    display: grid;
    gap: 20px;
    background-image: url('../../../public/fondo-2.png');
    background-repeat: no-repeat;
}

.inicio-container h1 {
    font-family: 'Merriweather', serif;
}

.inicio-container p {
    font-family: 'Lato', sans-serif;
}

.div-bienvenidos {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.div-bienvenidos h1 {
    font-size: 45px;
    margin: 80px 0;
}

.div-bienvenidos p {
    font-size: 20px;
}

.div-inicio-contacto {
    text-align: center;
    font-size: 25px;
    background-color: #0f2f24;
    color: #ffff;
    margin-bottom: 70px;
    padding: 55px 0 40px 0;
}

.link-visitanos {
    color: #ffff;
    padding: 5px 10px;
    font-weight: 500;
}

.link-visitanos:hover {
    color: #40c194;
}