.inicio-container {
    display: grid;
    gap: 20px;
}

.div-bienvenidos {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.div-bienvenidos h1 {
    font-size: 45px;
    margin: 80px 0;
}

.div-bienvenidos p {
    font-size: 20px;
}

.div-inicio-contacto {
    text-align: center;
    font-size: 28px;
    background-color: #0f2f24;
    color: #ffff;
    margin-bottom: 70px;
    padding: 43px 0 30px 0;
}

.link-visitanos {
    color: #ffff;
    padding: 5px 10px;
    font-weight: 500;
}

.link-visitanos:hover {
    color: #40c194;
}