.Option {
    text-decoration: none;
    padding: 5px;
    background-color: #ccd183;
    color: #ffff;
}

.ActiveOption {
    text-decoration: none;
    padding: 5px;
    background-color: #adb361;
    color: #000;
    border: 1px solid #000;
}

.Option:hover {
    color: #ffff;
}

.ActiveOption:hover {
    color: #000;
}