.navBg {
    background-color: #0f2f24;
}

.cantidad-cart {
    margin-left: 8px;
    color: #d3d3d3;
}

.links-nav {
    font-size: 17px;
    font-weight: 500;
}

.nav-acomodado {
    margin-right: 70px;
}

@media (max-width: 500px) {
    .nav-acomodado {
        margin: 0;
    }
}