.card-sucursal {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.info-sucursal {
    grid-column: 2/5;
}

.card-sucursal hr {
    grid-column: 1/5;
}

.img-sucursal {
    margin: 0 auto;
}

@media (max-width: 500px) {
    .card-sucursal {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .info-sucursal {
        grid-column: 1;
    }

    .card-sucursal hr {
        grid-column: 1;
    }

    .img-sucursal {
        margin: 0 auto;
    }
}